<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Spam Detector</h1>
        <form id="spamForm" method="POST">
            <textarea id="emailBody" name="emailBody" placeholder="Input the Email Body to Evaluate Here... (Only English)"></textarea>
            <button type="submit" class="btnSpam">Evaluate Email Body</button>
        </form>
        <div class="result" id="result"></div>
        <a href="{{ url_for('about') }}" class="btn-link">About SVM Model</a>
        <div class="result" id="result"></div>
        {% if result %}
            <h2>{{ result }}</h2>
        {% endif %}
    </div>
    <script>
        // Verificar si el formulario se envió correctamente
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
</body>
</html>
