<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detector de Spam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="container">
        <h1>Detector de Spam</h1>
        <form id="spamForm">
            <textarea id="emailBody" placeholder="Ingrese el cuerpo del correo electrónico aquí..."></textarea>
            <button type="button" class="btnSpam">Evaluar Spam</button>
        </form>
        <div class="result" id="result"></div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
